{
    "openapi": "3.0.1",
    "info": {
        "title": "CRM Associations Schema",
        "description": "Basepom for all HubSpot Projects",
        "version": "v4",
        "x-hubspot-product-tier-requirements": {
            "marketing": "FREE",
            "sales": "FREE",
            "service": "FREE",
            "cms": "FREE",
            "commerce": "FREE",
            "crmHub": "FREE",
            "dataHub": "FREE"
        },
        "x-hubspot-related-documentation": [
            {
                "name": "Associations Guide",
                "url": "https://developers.hubspot.com/docs/guides/api/crm/associations/associations-v4"
            }
        ]
    },
    "servers": [
        {
            "url": "https://api.hubapi.com/crm/v4/associations"
        }
    ],
    "tags": [
        {
            "name": "Labels"
        },
        {
            "name": "Limits"
        }
    ],
    "paths": {
        "/definitions/configurations/all": {
            "get": {
                "tags": [
                    "Limits"
                ],
                "summary": "Retrieve all association limits",
                "description": "Retrieve all configured association limits between objects, which include details about how different CRM object types are associated with each other.",
                "operationId": "get-/crm/associations/v4/definitions/configurations/all_getPage",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponsePublicAssociationDefinitionUserConfigurationNoPaging"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm-public-object-api-access"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            }
        },
        "/definitions/configurations/{fromObjectType}/{toObjectType}": {
            "get": {
                "tags": [
                    "Limits"
                ],
                "summary": "Retrieve association limits",
                "description": "Retrieve the configuration details for associations between two specified CRM object types. Use this endpoint to understand limits that have been set for specific association types.",
                "operationId": "get-/crm/associations/v4/definitions/configurations/{fromObjectType}/{toObjectType}_getPageBetweenTwoObjectTypes",
                "parameters": [
                    {
                        "name": "fromObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponsePublicAssociationDefinitionUserConfigurationNoPaging"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm-public-object-api-access"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            }
        },
        "/definitions/configurations/{fromObjectType}/{toObjectType}/batch/create": {
            "post": {
                "tags": [
                    "Limits"
                ],
                "summary": "Configure association limits",
                "description": "Batch configure association limits between two object types.",
                "operationId": "post-/crm/associations/v4/definitions/configurations/{fromObjectType}/{toObjectType}/batch/create_batchCreate",
                "parameters": [
                    {
                        "name": "fromObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputPublicAssociationDefinitionConfigurationCreateRequest"
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePublicAssociationDefinitionUserConfiguration"
                                },
                                "example": null
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePublicAssociationDefinitionUserConfigurationWithErrors"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm-public-object-api-access"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            }
        },
        "/definitions/configurations/{fromObjectType}/{toObjectType}/batch/purge": {
            "post": {
                "tags": [
                    "Limits"
                ],
                "summary": "Remove association limits",
                "description": "Batch delete limits that have been defined for association types between two object types.",
                "operationId": "post-/crm/associations/v4/definitions/configurations/{fromObjectType}/{toObjectType}/batch/purge_batchRemove",
                "parameters": [
                    {
                        "name": "fromObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputPublicAssociationSpec"
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm-public-object-api-access"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            }
        },
        "/definitions/configurations/{fromObjectType}/{toObjectType}/batch/update": {
            "post": {
                "tags": [
                    "Limits"
                ],
                "summary": "Update association limits",
                "description": "Batch update association limits that have been configured between two object types.",
                "operationId": "post-/crm/associations/v4/definitions/configurations/{fromObjectType}/{toObjectType}/batch/update_batchUpdate",
                "parameters": [
                    {
                        "name": "fromObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputPublicAssociationDefinitionConfigurationUpdateRequest"
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePublicAssociationDefinitionConfigurationUpdateResult"
                                },
                                "example": null
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePublicAssociationDefinitionConfigurationUpdateResultWithErrors"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm-public-object-api-access"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            }
        },
        "/{fromObjectType}/{toObjectType}/labels": {
            "get": {
                "tags": [
                    "Labels"
                ],
                "summary": "Retrieve association labels",
                "description": "Retrieve all labels that describe the relationships between two specified CRM object types. These labels provide context about the nature of the associations.",
                "operationId": "get-/crm/associations/v4/{fromObjectType}/{toObjectType}/labels_getPage",
                "parameters": [
                    {
                        "name": "fromObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseAssociationSpecWithLabelNoPaging"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm-public-object-api-access"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            },
            "put": {
                "tags": [
                    "Labels"
                ],
                "summary": "Update association label",
                "description": "Update an existing label that describes the relationship between two specified CRM object types. This allows for modifications to existing association labels to better reflect the nature of the relationship.",
                "operationId": "put-/crm/associations/v4/{fromObjectType}/{toObjectType}/labels_update",
                "parameters": [
                    {
                        "name": "fromObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PublicAssociationDefinitionUpdateRequest"
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm-public-object-api-access"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            },
            "post": {
                "tags": [
                    "Labels"
                ],
                "summary": "Create association label",
                "description": "Create a new label that describes the relationship between two specified CRM object types. This can help in categorizing and managing associations more effectively.",
                "operationId": "post-/crm/associations/v4/{fromObjectType}/{toObjectType}/labels_create",
                "parameters": [
                    {
                        "name": "fromObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PublicAssociationDefinitionCreateRequest"
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseAssociationSpecWithLabelNoPaging"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm-public-object-api-access"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            }
        },
        "/{fromObjectType}/{toObjectType}/labels/{associationTypeId}": {
            "delete": {
                "tags": [
                    "Labels"
                ],
                "summary": "Delete association label",
                "description": "Remove a specific label from the association between two CRM object types.",
                "operationId": "delete-/crm/associations/v4/{fromObjectType}/{toObjectType}/labels/{associationTypeId}_remove",
                "parameters": [
                    {
                        "name": "associationTypeId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": null
                        }
                    },
                    {
                        "name": "fromObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm-public-object-api-access"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "BatchResponsePublicAssociationDefinitionUserConfigurationWithErrors": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "datetime",
                        "example": null,
                        "description": "The date and time when the batch operation completed."
                    },
                    "numErrors": {
                        "type": "integer",
                        "format": "int32",
                        "example": null,
                        "description": "The total number of errors encountered during the batch operation."
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "datetime",
                        "example": null,
                        "description": "The date and time when the batch operation was requested."
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "datetime",
                        "example": null,
                        "description": "The date and time when the batch operation started processing."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "example": null,
                        "description": "A map of related resource URLs associated with the batch response."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicAssociationDefinitionUserConfiguration"
                        },
                        "example": null,
                        "description": "Array of successfully processed user configuration results."
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StandardError"
                        },
                        "example": null,
                        "description": "Array of errors encountered during the batch operation."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "CANCELED",
                            "COMPLETE",
                            "PENDING",
                            "PROCESSING"
                        ],
                        "example": null,
                        "description": "Current processing status: CANCELED, COMPLETE, PENDING, or PROCESSING."
                    }
                },
                "example": null,
                "description": "Batch operation response containing user configuration results with potential errors."
            },
            "PublicAssociationDefinitionCreateRequest": {
                "required": [
                    "label",
                    "name"
                ],
                "type": "object",
                "properties": {
                    "inverseLabel": {
                        "type": "string",
                        "description": "An optional descriptor that clarifies the reverse relationship in the association",
                        "example": null
                    },
                    "name": {
                        "type": "string",
                        "description": "The unique identifier for the association definition",
                        "example": null
                    },
                    "label": {
                        "type": "string",
                        "description": "A descriptor that provides context about the relationship between two associated CRM objects",
                        "nullable": true,
                        "example": null
                    }
                },
                "example": null,
                "description": "Request object for creating a new association definition between CRM objects."
            },
            "StandardError": {
                "required": [
                    "category",
                    "context",
                    "errors",
                    "links",
                    "message",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "object",
                        "properties": {},
                        "description": "A more specific error category within each main category",
                        "example": null
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": null
                            },
                            "example": null
                        },
                        "description": "Additional context-specific information related to the error",
                        "example": null
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "URLs linking to documentation or resources associated with the error",
                        "example": null
                    },
                    "id": {
                        "type": "string",
                        "description": "A unique ID for the error instance",
                        "example": null
                    },
                    "category": {
                        "type": "string",
                        "description": "The main category of the error",
                        "example": null
                    },
                    "message": {
                        "type": "string",
                        "description": "A human-readable string describing the error and possible remediation steps",
                        "example": null
                    },
                    "errors": {
                        "type": "array",
                        "description": "The detailed error objects",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        },
                        "example": null
                    },
                    "status": {
                        "type": "string",
                        "description": "The HTTP status code associated with the error",
                        "example": null
                    }
                },
                "description": "Represents a standard error response in the HubSpot API, providing detailed information about an error that occurred during an API request",
                "example": null
            },
            "BatchInputPublicAssociationSpec": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicAssociationSpec"
                        },
                        "example": null,
                        "description": "Array of association specifications to process in the batch request."
                    }
                },
                "example": null,
                "description": "Container for batch input of association specifications."
            },
            "BatchResponsePublicAssociationDefinitionConfigurationUpdateResult": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "description": "The date and time when the batch update operation was completed",
                        "format": "datetime",
                        "example": null
                    },
                    "requestedAt": {
                        "type": "string",
                        "description": "The date and time when the batch update operation was requested",
                        "format": "datetime",
                        "example": null
                    },
                    "startedAt": {
                        "type": "string",
                        "description": "The date and time when the batch update operation started",
                        "format": "datetime",
                        "example": null
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "URLs linking to documentation or resources associated with the batch update operation",
                        "example": null
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicAssociationDefinitionConfigurationUpdateResult"
                        },
                        "example": null,
                        "description": "Array of configuration update results from the batch operation."
                    },
                    "status": {
                        "type": "string",
                        "description": "The current status of the batch update operation, which can be CANCELED, COMPLETE, PENDING, or PROCESSING",
                        "enum": [
                            "CANCELED",
                            "COMPLETE",
                            "PENDING",
                            "PROCESSING"
                        ],
                        "example": null
                    }
                },
                "example": null,
                "description": "Batch response containing association definition configuration update results."
            },
            "CollectionResponsePublicAssociationDefinitionUserConfigurationNoPaging": {
                "required": [
                    "results"
                ],
                "type": "object",
                "properties": {
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicAssociationDefinitionUserConfiguration"
                        },
                        "example": null,
                        "description": "Array of user configuration objects in the collection."
                    }
                },
                "example": null,
                "description": "Collection response containing user configurations without pagination."
            },
            "PublicAssociationDefinitionConfigurationUpdateResult": {
                "required": [
                    "category",
                    "typeId"
                ],
                "type": "object",
                "properties": {
                    "userEnforcedMaxToObjectIds": {
                        "type": "integer",
                        "description": "The maximum number of object IDs that a user can enforce for associations",
                        "format": "int32",
                        "example": null
                    },
                    "typeId": {
                        "type": "integer",
                        "description": "An integer value used to uniquely identify a specific association type within its Association Category",
                        "format": "int32",
                        "example": null
                    },
                    "category": {
                        "type": "string",
                        "description": "The category of the association, which can be HUBSPOT_DEFINED, INTEGRATOR_DEFINED, or USER_DEFINED",
                        "enum": [
                            "HUBSPOT_DEFINED",
                            "INTEGRATOR_DEFINED",
                            "USER_DEFINED",
                            "WORK"
                        ],
                        "example": null
                    }
                },
                "example": null,
                "description": "Result object containing updated association definition configuration details."
            },
            "Error": {
                "required": [
                    "category",
                    "correlationId",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error",
                        "example": null
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": null
                            },
                            "example": null
                        },
                        "description": "Context about the error condition",
                        "example": "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
                    },
                    "correlationId": {
                        "type": "string",
                        "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                        "format": "uuid",
                        "example": "aeb5f871-7f07-4993-9211-075dc63e7cbf"
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
                        "example": null
                    },
                    "category": {
                        "type": "string",
                        "description": "The error category",
                        "example": null
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate",
                        "example": "An error occurred"
                    },
                    "errors": {
                        "type": "array",
                        "description": "further information about the error",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        },
                        "example": null
                    }
                },
                "example": {
                    "message": "Invalid input (details will vary based on the error)",
                    "correlationId": "aeb5f871-7f07-4993-9211-075dc63e7cbf",
                    "category": "VALIDATION_ERROR",
                    "links": {
                        "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                    }
                },
                "description": "Standard error response object containing error details and context."
            },
            "PublicAssociationDefinitionConfigurationUpdateRequest": {
                "required": [
                    "category",
                    "maxToObjectIds",
                    "typeId"
                ],
                "type": "object",
                "properties": {
                    "typeId": {
                        "type": "integer",
                        "description": "A unique identifier for the association type",
                        "format": "int32",
                        "example": null
                    },
                    "category": {
                        "type": "string",
                        "description": "Specifies the category of the association, which can be HUBSPOT_DEFINED, INTEGRATOR_DEFINED, or USER_DEFINED",
                        "enum": [
                            "HUBSPOT_DEFINED",
                            "INTEGRATOR_DEFINED",
                            "USER_DEFINED",
                            "WORK"
                        ],
                        "example": null
                    },
                    "maxToObjectIds": {
                        "type": "integer",
                        "description": "Defines the maximum number of target object IDs that can be associated",
                        "format": "int32",
                        "example": null
                    }
                },
                "example": null,
                "description": "Request object for updating an association definition configuration."
            },
            "PublicAssociationDefinitionConfigurationCreateRequest": {
                "required": [
                    "category",
                    "maxToObjectIds",
                    "typeId"
                ],
                "type": "object",
                "properties": {
                    "typeId": {
                        "type": "integer",
                        "description": "An integer used to uniquely identify a specific association type within its category",
                        "format": "int32",
                        "example": null
                    },
                    "category": {
                        "type": "string",
                        "description": "Specifies the category of the association, which can be HUBSPOT_DEFINED, INTEGRATOR_DEFINED, or USER_DEFINED",
                        "enum": [
                            "HUBSPOT_DEFINED",
                            "INTEGRATOR_DEFINED",
                            "USER_DEFINED",
                            "WORK"
                        ],
                        "example": null
                    },
                    "maxToObjectIds": {
                        "type": "integer",
                        "description": "The maximum number of target object IDs that can be associated with a single source object",
                        "format": "int32",
                        "example": null
                    }
                },
                "example": null,
                "description": "Request object for creating a new association definition configuration."
            },
            "PublicAssociationDefinitionUpdateRequest": {
                "required": [
                    "associationTypeId",
                    "label"
                ],
                "type": "object",
                "properties": {
                    "inverseLabel": {
                        "type": "string",
                        "description": "An optional descriptor for the inverse relationship between associated records",
                        "example": null
                    },
                    "associationTypeId": {
                        "type": "integer",
                        "description": "The unique identifier for the association type",
                        "format": "int32",
                        "example": null
                    },
                    "label": {
                        "type": "string",
                        "description": "A descriptor that provides context about the relationship between associated records",
                        "nullable": true,
                        "example": null
                    }
                },
                "example": null,
                "description": "Request payload for updating an association definition's label and inverse label."
            },
            "ErrorDetail": {
                "required": [
                    "message"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error",
                        "example": null
                    },
                    "code": {
                        "type": "string",
                        "description": "The status code associated with the error detail",
                        "example": null
                    },
                    "in": {
                        "type": "string",
                        "description": "The name of the field or parameter in which the error was found",
                        "example": null
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": null
                            },
                            "example": null
                        },
                        "description": "Context about the error condition",
                        "example": "{missingScopes=[scope1, scope2]}"
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate",
                        "example": null
                    }
                },
                "example": null,
                "description": "Detailed information about a specific error that occurred during an API operation."
            },
            "AssociationSpecWithLabel": {
                "required": [
                    "category",
                    "typeId"
                ],
                "type": "object",
                "properties": {
                    "typeId": {
                        "type": "integer",
                        "description": "An integer value used to uniquely identify a specific association type within its Association Category",
                        "format": "int32",
                        "example": null
                    },
                    "label": {
                        "type": "string",
                        "description": "An optional descriptor that provides additional context about the relationship between associated records, such as \"Mentor\" and \"Mentee\"",
                        "nullable": true,
                        "example": null
                    },
                    "category": {
                        "type": "string",
                        "description": "Association category. Can be HUBSPOT_DEFINED, USER_DEFINED, INTEGRATOR_DEFINED or WORK",
                        "enum": [
                            "HUBSPOT_DEFINED",
                            "INTEGRATOR_DEFINED",
                            "USER_DEFINED",
                            "WORK"
                        ],
                        "example": null
                    }
                },
                "description": "Defines the type, direction, and details of the relationship between two CRM objects",
                "example": null
            },
            "CollectionResponseAssociationSpecWithLabelNoPaging": {
                "required": [
                    "results"
                ],
                "type": "object",
                "properties": {
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AssociationSpecWithLabel"
                        },
                        "example": null,
                        "description": "Array of association specifications with their corresponding labels."
                    }
                },
                "example": null,
                "description": "Response containing a collection of association specifications with labels."
            },
            "PublicAssociationDefinitionUserConfiguration": {
                "required": [
                    "category",
                    "typeId"
                ],
                "type": "object",
                "properties": {
                    "userEnforcedMaxToObjectIds": {
                        "type": "integer",
                        "description": "The maximum number of target object IDs that a user can enforce in an association",
                        "format": "int32",
                        "nullable": true,
                        "example": null
                    },
                    "typeId": {
                        "type": "integer",
                        "description": "A unique integer identifier for the association type within its category",
                        "format": "int32",
                        "example": null
                    },
                    "label": {
                        "type": "string",
                        "description": "A descriptor providing context about the relationship between associated records",
                        "nullable": true,
                        "example": null
                    },
                    "category": {
                        "type": "string",
                        "description": "The category of the association, which can be HUBSPOT_DEFINED, INTEGRATOR_DEFINED, or USER_DEFINED",
                        "enum": [
                            "HUBSPOT_DEFINED",
                            "INTEGRATOR_DEFINED",
                            "USER_DEFINED",
                            "WORK"
                        ],
                        "example": null
                    }
                },
                "example": null,
                "description": "User-defined configuration settings for an association definition."
            },
            "BatchResponsePublicAssociationDefinitionUserConfiguration": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "description": "The date and time when the batch operation was completed",
                        "format": "datetime",
                        "example": null
                    },
                    "requestedAt": {
                        "type": "string",
                        "description": "The date and time when the batch operation was requested",
                        "format": "datetime",
                        "example": null
                    },
                    "startedAt": {
                        "type": "string",
                        "description": "The date and time when the batch operation started",
                        "format": "datetime",
                        "example": null
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "A collection of URLs linking to related documentation or resources associated with the batch operation",
                        "example": null
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicAssociationDefinitionUserConfiguration"
                        },
                        "example": null,
                        "description": "Array of association definition user configurations returned by the batch operation."
                    },
                    "status": {
                        "type": "string",
                        "description": "The current status of the batch operation, which can be CANCELED, COMPLETE, PENDING, or PROCESSING",
                        "enum": [
                            "CANCELED",
                            "COMPLETE",
                            "PENDING",
                            "PROCESSING"
                        ],
                        "example": null
                    }
                },
                "example": null,
                "description": "Response containing results from a batch operation on association definition configurations."
            },
            "BatchInputPublicAssociationDefinitionConfigurationUpdateRequest": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicAssociationDefinitionConfigurationUpdateRequest"
                        },
                        "example": null,
                        "description": "Array of association definition configuration update requests to process."
                    }
                },
                "example": null,
                "description": "Batch request payload containing multiple association definition configuration updates."
            },
            "BatchResponsePublicAssociationDefinitionConfigurationUpdateResultWithErrors": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "datetime",
                        "example": null,
                        "description": "The timestamp when the batch operation finished processing."
                    },
                    "numErrors": {
                        "type": "integer",
                        "format": "int32",
                        "example": null,
                        "description": "The total count of errors encountered during the batch operation."
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "datetime",
                        "example": null,
                        "description": "The timestamp when the batch operation was initially requested."
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "datetime",
                        "example": null,
                        "description": "The timestamp when the batch operation began processing."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "example": null,
                        "description": "Map of related resource URLs associated with the batch response."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicAssociationDefinitionConfigurationUpdateResult"
                        },
                        "example": null,
                        "description": "Array of successful configuration update results from the batch operation."
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StandardError"
                        },
                        "example": null,
                        "description": "Array of errors encountered during the batch operation."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "CANCELED",
                            "COMPLETE",
                            "PENDING",
                            "PROCESSING"
                        ],
                        "example": null,
                        "description": "The current processing status of the batch operation."
                    }
                },
                "example": null,
                "description": "Batch response containing update results and any errors that occurred during processing."
            },
            "BatchInputPublicAssociationDefinitionConfigurationCreateRequest": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicAssociationDefinitionConfigurationCreateRequest"
                        },
                        "example": null,
                        "description": "Array of association definition configuration create requests to process."
                    }
                },
                "example": null,
                "description": "Batch request payload for creating multiple association definition configurations."
            },
            "PublicAssociationSpec": {
                "required": [
                    "category",
                    "typeId"
                ],
                "type": "object",
                "properties": {
                    "typeId": {
                        "type": "integer",
                        "description": "A unique integer identifier for the specific association type within its category",
                        "format": "int32",
                        "example": null
                    },
                    "category": {
                        "type": "string",
                        "description": "Specifies the category of the association, which can be HUBSPOT_DEFINED, INTEGRATOR_DEFINED, or USER_DEFINED",
                        "example": null
                    }
                },
                "example": null,
                "description": "Defines an association type specification with its category and unique type identifier."
            }
        },
        "responses": {
            "Error": {
                "description": "An error occurred.",
                "content": {
                    "*/*": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "example": null
                    }
                }
            }
        },
        "securitySchemes": {
            "developer_hapikey": {
                "type": "apiKey",
                "name": "hapikey",
                "in": "query"
            },
            "hapikey": {
                "type": "apiKey",
                "name": "hapikey",
                "in": "query"
            },
            "oauth2": {
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://app.hubspot.com/oauth/authorize",
                        "tokenUrl": "https://api.hubapi.com/oauth/v1/token",
                        "scopes": {
                            "crm-public-object-api-access": ""
                        }
                    }
                }
            },
            "private_apps": {
                "type": "apiKey",
                "name": "private-app",
                "in": "header",
                "x-ballerina-name": "privateApp"
            },
            "private_apps_legacy": {
                "type": "apiKey",
                "name": "private-app-legacy",
                "in": "header",
                "x-ballerina-name": "privateAppLegacy"
            }
        }
    },
    "x-hubspot-available-client-libraries": [
        "Node",
        "Python",
        "Ruby",
        "PHP"
    ],
    "x-hubspot-product-tier-requirements": {
        "marketing": "FREE",
        "sales": "FREE",
        "service": "FREE",
        "cms": "FREE",
        "commerce": "FREE",
        "crmHub": "FREE",
        "dataHub": "FREE"
    }
}